<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla de multiplicar del {{n}}</title>
    <style>
      table {
        border-collapse: collapse;
        width: 50%;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #ddd;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <tr>
          <th>OPERACIÓN</th>
          <th>RESULTADO</th>
        </tr>
        {% for i in resultados %}
        <tr>
          <td>{{n}} X {{i.Multiplicador}}</td>
          <td>{{i.Resultado}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
